<h3>Student Form</h3>

<form action="/students" method="post">
  <input type="text" name="student[first_name]" value="">
  <input type="text" name="student[last_name]" value="">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" name="submit" value="Submit Student">
</form>
